<div class="container text-center mt-5">
  <div class="row">
    <div class="col">
      <h1 class="fw-bold">Quienes somos?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consequatur laborum illum ipsam accusantium cum architecto quaerat mollitia placeat, veritatis eius velit sit ea ipsum rem numquam culpa. Eos, facere!</p>
    </div>
    <div class="col d-flex">
      <img src="https://cdn.pixabay.com/photo/2024/02/15/09/30/schnitzel-8575036_960_720.png" alt="imgen del restaurante">
    </div>

  </div>
</div>
